scipy~=1.15.2
numpy~=2.1.3
sdypy~=0.5.1
nidaqmx~=1.0.2
pandas~=2.2.3
bitstring~=4.3.0
h5py~=3.13.0
pyuff~=2.5.1
setuptools~=80.9.0
PySide6~=6.9.2
pyqtgraph~=0.13.7
vispy~=0.15.2
pyvista~=0.46.3
git+https://github.com/SDL-MCI/SDLMA-Core.git@main
